/** Restyle Bartik a bit **/
@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

#page #header {
  background-image: none;
  background-color: #016b83;
}

#header, #footer-wrapper, .skip-link, ul.contextual-links, ul.links, ul.primary, .item-list .pager, div.field-type-taxonomy-term-reference, div.messages, .node__meta, p.comment-time, table, .breadcrumb, .link {
  font-family: 'Francois One', sans-serif !important;
}

body, #site-slogan, .site-slogan, #page .ui-widget, .comment-form label, .node-form label, .node-form .description {
  font-family: 'PT Serif', serif !important;
}

/** Site specific styles **/

